In [21]:
import pandas as pd
import numpy as np
from numpy import sqrt, abs, round
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.norm.html
from scipy.stats import norm

In [3]:
data = pd.read_csv('covid-19.csv')
data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,1,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,1,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0

In [4]:
data['Temprature'].describe()

count    206.000000
mean      12.161165
std       10.229763
min      -21.900000
25%        6.100000
50%       11.750000
75%       20.375000
max       33.100000
Name: Temprature, dtype: float64

In [27]:
data['Temp_Cat'] = data['Temprature'].apply(lambda x: 0 if x < 12 else 1)

In [28]:
data['Temp_Cat'].describe()

count    206.000000
mean       0.480583
std        0.500840
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Temp_Cat, dtype: float64

In [29]:
dataA = data[data['Temp_Cat'] == 1]['Confirmed']
dataB = data[data['Temp_Cat'] == 0]['Confirmed']

In [30]:
mA = dataA.mean()
mB = dataB.mean()
sA = dataA.std()
sB = dataB.std()

In [31]:
nA = len(dataA)
nB = len(dataB)

In [32]:
# d = denominator
d = sqrt((sA ** 2 / nA) + (sB ** 2 / nB))
d

698.1871370434366

In [33]:
# n = numerator
n = mA - mB
n

634.3268195978476

In [34]:
z = n / d
z

0.9085340962939912

In [35]:
# cdf = cumulative density function
pValue = 2 * (1 - norm.cdf(abs(z)))
pValue

0.3635961079275145

In [36]:
data['Temp_Cat'] = data['Temprature'].apply(lambda x: 0 if x < 12 else 1)
dataA = data[data['Temp_Cat'] == 1]['Deaths']
dataB = data[data['Temp_Cat'] == 0]['Deaths']
mA = dataA.mean()
mB = dataB.mean()
sA = dataA.std()
sB = dataB.std()
nA = len(dataA)
nB = len(dataB)
d = sqrt((sA ** 2 / nA) + (sB ** 2 / nB))
n = mA - mB
z = n / d
pValue = 2 * (1 - norm.cdf(abs(z)))
pValue

0.279804741071322